:root {
    --bg-color: hsl(260, 10%, 94%);
    --bg-color-components: hsl(0, 0%, 100%);
    --bg-avatar: hsla(214, 4%, 90%, 1);
    --border-color: rgba(0, 0, 0, 0.125);
    --header-color: rgb(171, 174, 178);
    --logo-blue-color: hsl(198, 81%, 48%);
    --logo-blue-light-color: hsl(198, 81%, 60%);
    --logo-dark-color: hsl(60, 1%, 24%);
    --logo-blue-very-light-color: hsl(198, 81%, 70%);
    --logo-dark-color: hsl(60, 1%, 24%);
    --bg-menu-dark: hsl(60, 1%, 20%);
    --bg-table-thead: hsl(60, 1%, 20%);
    --bg-table-tbody: hsl(0, 0%, 100%);
    --text-color: hsl(214, 4%, 68%);
    --text-color-bold: hsl(214, 24%, 23%);
    --text-color-light: #127DAB;
    --border-color: hsla(214, 4%, 68%, 0.3);
};


.table {
    border-collapse: collapse;
    width: 100%;
}

.table-container {
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
    padding-bottom: 50px;
    position: relative;
    height: 100%;

}

.table-empty {
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 130%;
    justify-content: center;
    text-align: center;
}

.table-empty .icon {
    font-size: 200%;
}

.table-data {
    text-align: center;
}

.table-data thead {
    background-color: var(--bg-table-thead);
}

.table-data tbody {
    background-color: var(--bg-table-tbody);
}

.table-data tbody tr:hover {
     background-color:#f5f5f5;
}

.table-data tr.primary {
    color: var(--logo-blue-color);
}

.table-data th {
    font-weight: normal;
    padding: 10px 0;
}

.table-data th.sortable {
    cursor: pointer;
}

.table-data td {
    font-size: 80%;
    padding: 15px 0;
}

.table-data .td-action {
    padding: 0;
    position: relative;
    width: 45px;
}

.table-data .td-action .button-icon {
    padding: 15px;
}

.table-data .th-action .ng-table-header {
    display: none;
}

.table-show tbody tr:hover {
    cursor: pointer;
}

.table-separated tr.separated {
    border-top: 2px solid var(--bg-color);
}

@media(--desktop) {

    .table-container {
        overflow-x: auto;
    }
    
    .table-data .th-action .ng-table-header {
        display: initial;
    }

    .table-data .td-action .button-icon {
        padding: 15px 20px;
    }

}



.page-container {
    position: relative;
    opacity: 1;
    width: 100%;

    transition: opacity 1s;
}

.page-container.route-change-start {
    opacity: 0;
}

.page {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
    padding-top: var(--header-size);
    position: absolute;
}


*, 
*:before, 
*:after {
    box-sizing: border-box;
}

a,
button,
input:focus {
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body, 
menu ,
ul {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--size-font);
    height: 100%;
}

ul {
    list-style: none;
}

select:focus {
    outline: none;
}

input[type="search"] {
    appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

h1, h2 {
    margin: 0;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-app {
    display: flex;
    height: 100%;
}

.page {
    width: 100%;
}

.search {
    position: relative;
}

.search .input-search {
    border: inherit;
}

.search .input::placeholder {
    color: var(--text-color);
}

.search .input-search-container {
    margin-bottom: 0;
}

.search .input-search-container .icon {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 24px;
    right: 45px;
    height: 100%;
    position: absolute;
}

.search .search-list {
    background-color: var(--bg-color-components);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    color: initial;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.search .search-list li {
    border-top: 1px solid var(--border-color);
    padding: 10px;
}

.search .search-list li:hover {
    background-color: var(--hover-color);
}

.search .search-list .others {
    font-weight: bold;
}

.search .input-others-container {
    background-color: var(--bg-color-components);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: none;
    padding: 5px 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.search .input-others-container .input {
    border-bottom: 0;
}

.search .input-others-container .button-icon {
    bottom: 0;
    position: absolute;
    top: 0;
    font-size: 150%;
}

.search .input-others-container .button-icon-send {
    right: 0;
}

.search .input-others-container .button-icon-cancel {
    right: 24px;
}

.search .input-others-container.active {
    display: block;
    animation: grow .5s forwards;
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.form.ng-invalid.ng-submitted .input.ng-invalid {
    border-bottom: 1px solid var(--error-color);
}

.form.ng-invalid.ng-submitted .input.ng-invalid ~ .input-label {
    color: var(--error-color);
}

.form-box {
    width: 320px;
    font-size: 80%;
    background-color: var(--bg-color-components);
    padding: 20px;
}

.input {
    background: inherit;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid var(--border-color);
    font-family: inherit;
    font-size: inherit;
    padding: 10px 1px 3px 5px;
    width: 100%;
    transition: all 0.6s;
}

.input:focus {
    border-color: var(--logo-blue-color);
}

.input:disabled {
    appearance: none;
    cursor: not-allowed;
}

.input[type="text"]:read-only {
    color: var(--text-color);
    cursor: not-allowed;
}

.input[type="number"]:read-only, 
.input[type="number"]:disabled { 
    border-style: dotted;
    color: var(--text-color);
}

.input:focus ~ .input-label {
    color: var(--logo-blue-color);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px white inset;
}

.input-container-inline .input-select-container {
    width: 35%;
} 

.input-group-item {
    position: relative;
    margin-bottom: 20px;
}

.input-group-item .button-remove, 
.input-group-item .button-add {
    font-size: 170%;
    padding: 0;
    /*position: absolute;*/
}

.input-group-item .button-add {
    color: var(--logo-blue-color);
/*    padding-top: 15px;
*/  right: 0;
    position: absolute;
    right: -15px;
    top: 4px;
}


.input-group-item .button-remove {
    bottom: 3px;
    right: 8px;
}

.second-input {
    width: 50%;
}

.input-errors {
    color: var(--error-color);
    margin: 20px 0;
}

.input-success {
    color: var(--logo-blue-color);
    margin: 20px 0;
}

.input-file {
    cursor: pointer;
}

.input-file .input {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column-reverse;
    margin: 25px 0px;
    position: relative;
}

.input-group-inline {
    display: flex;
}

.input-group-inline > .input:first-child,
.input-container-inline > .input:first-child {
    margin-right: 20px;
}

.input-margin {
    margin-right: 20px;
}

.input-flex-basis {
    flex-basis: 100%;
}

.input-container-inline {
    display: flex;
    position: relative;
}

.input-label {
    align-items: center;
    display: flex;
    transition: color 0.6s;
}

.input-label .icon {
    padding: 1px 2px;
}

.input-label-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-label-radio > .icon {
    font-size: 120%;
    margin: 0 25px 0 10px;
}

.input-search-container {
    background-color: var(--bg-color-components);
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.input-search-container:after {
    align-items: center;
    content: "search";  
    font-family: var(--icon-font);
    display: flex;
    height: 100%;
    position: absolute;
    font-size: 24px;
    right: 0;
    padding: 0 10px;
}

.input-search-container .input-search {
    border: 0;
    padding: 10px;
}

.input-search-container .input-search:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.input-select {
    appearance: none;
    padding-left: 4px;
}

.input-select-container {
    position: relative;
}

.input-select-container:after {
    align-items: center;
    content: "arrow_drop_down";
    display: flex;
    font-family: var(--icon-font);
    font-size: 150%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.input-group .button-group-actions {
    align-items: center;
    bottom: 5px;
    display: flex;
    position: absolute;
    right: 0;
}

.input-group-inside .button-group-actions {
    right: -20px;
}

.input-group .button-group-actions .button {
    position: initial;
}

.input-group-inside {
    padding: 0 30px 0 20px;
}

.search-container {
    display: flex;
    justify-content: center;
}

@media(--mobile) {
    
    .form-box {
        width: 400px;
        padding: 20px 40px;
    }
    
}

.input-container-inline:hover .button {
    visibility: visible;
}

.input-container:hover .button{ 
    visibility: visible;
}

.search-container .input-search-container {
    width: 50%;
}

.dialog {
    max-width: 500px;
    position: relative;
    top: 0;
    width: 85%;
    animation: top-up 1.1s forwards;
}

.modal.active .dialog {
    animation: top-down 1.1s forwards;
}

.dialog-body {
    padding: 20px;
}

.dialog-header {
    color: var(--logo-dark-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}

.dialog-title {
    font-size: 110%;
}

.dialog .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.dialog .button-group .button {
    margin: 0 5px;
    width: auto;
    font-size: 14px;
}

@keyframes top-down {
    from {
        top: 0;
    }
    to {
        top: 160px;
    }
}

@keyframes top-up {
    from {
        top: 160px;
    }
    to {
        top: 0;
    }
}

.overlay {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.absolute {
    top: 0;
    left: 0;
}

.button {
    border: 0;
    cursor: pointer;
    padding: 10px 20px;
}

.button:disabled {
    cursor: not-allowed;
}

.button-action {
    background-color: var(--logo-blue-color);
    box-shadow: var(--shadow);
    bottom: 24px;
    border-radius: 50%;
    color: #FFF;
    font-size: var(--button-icon-size);
    height: 54px;
    position: fixed;
    right: 24px;
    width: 54px;
}

.button-action:hover {
    background-color: var(--logo-blue-light-color);
}

.button-action-relative {
    position: absolute;
}

.button-primary {
    background-color: var(--logo-blue-color);
    color: #FFF;
    width: 100%;
}

.button-primary:hover {
    background-color: var(--logo-blue-light-color);
}

.button-primary:disabled,
.button-primary:disabled:hover {
    background-color: var(--logo-blue-very-light-color);
}

.button-icon {
    background: transparent;
    color: inherit;
    font-family: var(--icon-font);
    padding: 5px;
}

.button-confirm {
    background-color: #FFF;
    color: var(--logo-blue-color);
}

.button-accept {
    font-weight: bold;
}

.button-group-next,
.button-group-right {
    display: flex;
    justify-content: flex-end;
}

.button-group-navigate {
    display: flex;
    justify-content: space-between;
}

.button-navigate {
    background-color: transparent;
    color: var(--logo-blue-color);
    padding: 0;
    width: auto;
}

.button-navigate:hover,
.button-navigate:disabled,
.button-navigate:disabled:hover {
    background-color: transparent;
    color: var(--logo-blue-light-color);
}

.button-navigate .icon {
    font-size: 50px;
}

.button-navigate-send .icon {
    font-size: 30px;
    padding: 10px;
}

.button-navigate .button-label {
    font-size: 11px;
}

.button-label {
    background-color: transparent;
    color: var(--logo-blue-color);
    font-weight: bold;
}

.button-label:disabled,
.button-label:disabled:hover {
    color: var(--logo-blue-very-light-color);
}

.modal {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    visibility: hidden;
    left: 0;
    padding: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: all .5s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: var(--bg-color-components);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    position: fixed;
    right: 0;
}

.modal-rigth .modal-content {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.modal-rigth.active .modal-content {
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.modal-box {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-height: calc(100% - 120px);
    top: 60px;
}

.modal-box .modal-header {
    align-items: center;
    background-color: var(--bg-menu-dark);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 120%;
}

.modal-box .modal-header .button-icon {
    padding-right: 0;
    font-size: inherit;
}

.modal-box .modal-body {
    font-size: 80%;
    overflow-y: auto;
}

.modal-box .modal-body.modal-body-narrow {
    padding-right: 50px;
}

.modal-show .modal-body {
    padding: 20px;
    font-size: 90%;    
}

.modal-edit .modal-body {
    padding: 0 20px 20px 20px;
}

/*.modal-scroll {
    overflow-y: scroll;
    height: 80vh;
}*/

.modal-container-flex {
    display: flex;
    flex-direction: column;
}


    .modal-box {
        width: 400px;
    }
    
    .modal-box .modal-header .button-icon {
        font-size: initial;
    }

    .modal-rigth .modal-content {
        transition: all 1s;
        transform: scale(1);
    }

    .modal-rigth .modal-content {
        right: -50%;
    }

    .modal-container-flex {
        display: flex;
        flex-direction: row;
    }


