/*.input-container {
    padding: 5px 0;
}

.input-select {
	width: 30% !important;
}

.data-show {
	margin-left: 30px;
}

.hide {
	border: none;
   -webkit-appearance: none;   
   color: black;
}

.modal-show {
	margin-top: 20px;
	font-size: 90% !important;
}

.input-phone {
	width: 49% !important;
	padding: 4px 0;
}

.data-title {
	padding: 8px;
}

.add-button {
	background-color: #17a2de; 
	border-radius: 50%;
	padding: 3px;
	margin-left: 10px;
}

.close-button {
	background-color: #ccc;
	border-radius: 50%;
	padding: 3px;
}

.color {
	color :#FFF;
}

.scroll {
	overflow-y: scroll;
    height: 490px
}

@media(--desktop) {
    
    .scroll {
        height: 360px;
    }
}*/