.fedex-flaps {
    max-width: 320px;
}

.input-description {
	width: 55%;
}

.input-sample {
    position: absolute;
    right: 10px;
}

.form-fedexsent .button-remove {
    position: absolute;
    right: 10px;
}

.form-fedexreceived  .button-checkbox {
    position: relative;
    
}

.form-fedexsent .button-icon-cancel {
    font-size: 150%;
}

.form-fedex .input-container-inline-search > .icon {
    align-items: flex-end;
    font-size: 150%;
    margin-right: 5px;
}

.form-fedex .input-container-inline-search > .input,
.form-fedex .input-container-inline-search > .input-search-component {
    flex-grow: 1;
}

.table-fedexreceived .td-received .button-icon {
    font-size: 125%;
}

.table-fedexreceived .td-received .button-icon-done {
    color: var(--logo-blue-color);
}