.form.form-sh {
    padding: 30px;
}

.form-sh {
    background-color: var(--bg-color-components);
    border: 1px solid var(--border-color);
    margin: 100px auto;
    max-width: 310px;
    padding-top: 60px;
    position: relative;
}

.form-sh.form-textile:after {
    background-image: url('/img/logo/box-sh-dark.png');
}

.form-sh.form-chemical:after {
    background-image: url('/img/logo/box-sh-blue.png');
}

.form-sh:after {
    background-size: 100px;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -50px;
    width: 100px;

    animation: revolution 4s infinite;
}

.form-sh .input-group {
    margin: 30px 0;
    font-size: 75%;
}

.form-sh.form-textile .button-primary {
    background-color: var(--logo-dark-color);
}

.form-sh .input-group-forgot {
    align-items: flex-end;
    font-size: 11px;
    margin: 10px 0 0 0;
}

.form-sh.form-textile .input-group-forgot .link {
    color: var(--logo-dark-color);
}

.form-sh .input-errors {
    font-size: 11px;
    margin: 12px 5px;
}

.form-login .input-group-radio {
    flex-direction: row;
    font-size: 90%;
    justify-content: space-around;
    margin: 40px 0 30px;
}

.form-login .input-group-radio .input {
    display: none;
}

.form-login .input-group-radio .input-label {
    cursor: pointer;
    padding: 0 2px 2px 2px;
    border-bottom: 1px solid var(--bg-color-components);
}

.form-textile .input:focus {
    border-color: var(--logo-dark-color);
}

.form-textile .input:focus ~ .input-label {
    color: var(--logo-dark-color);
}

.form-sh .input-group .input-img {
    width: 30px;
    height: 30px;
}

.form-sh .input-group .input-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.form-sh .input-group .input-img-chemical {
    background-image: url('/img/login/chemical.svg');
}

.form-sh .input-group .input-img-textile {
    background-image: url('/img/login/textile.svg');
}

.form-sh.form-chemical .input-group .input-img-chemical {
    background-image: url('/img/login/chemical-blue.svg');
    background-size: 30px;
}

.form-sh.form-textile .input-group .input-img-textile {
    background-image: url('/img/login/textile-dark.svg');
    background-size: 30px;
}

@keyframes revolution {
    80% {
        transform: rotate(0deg) scale(1);
    }
    90% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}