
.checkbox-order {
    margin: 5px;
}

.form-orders .button-add {
    font-size: 30px;
    color: var(--logo-blue-color);
}

.form-order-attachments .button-upload {
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 0;
}

.form-order-edit-data,
.form-order-products-details {
    margin: auto;
}

.form-order-attachments .button-upload:hover {
    color: var(--logo-blue-color);
}

.form-order-attachments .button-upload:disabled:hover {
    color: inherit;
}

.input-group-confirmed {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.input-group-confirmed .input-label {
    display: inline-block;
    font-size: 15px;
    height: 22px;
    line-height: 30px;
}

.input-group-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 5px;
}

.header-static {
    align-items: center;
    background-color: hsl(60, 1%, 20%);
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    padding: 20px;
}


/*.form-order-attachments .input-file {
    width: 0;
    position: relative;
}

.form-order-attachments .input-file:after {
    content: "attach_file";
    font-family: var(--icon-font);
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;
}*/

.list-attachments li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.list-attachments .attachment-description {
    align-items: center;
    display: flex;
}

.list-attachments .attachment-description .icon {
    font-size: 24px;
    margin-right: 10px;
}

.list-attachments .button-icon {
    font-size: 16px;
}

.modal-show-order .detail-item-product {
    flex-wrap: wrap;
}

.modal-show-order .detail-item-product .detail-data {
    display: flex;
    justify-content: space-between;
    font-size: 90%;
    margin-top: 5px;
    padding-left: 20px;
    width: 100%;
}

/*.table-orders {
    overflow-y: scroll;  has to be scroll, not auto 
    -webkit-overflow-scrolling: touch;
}*/

.table-orders .button-order-state.red {
    color: var(--error-color);
}

.table-orders .button-order-state.orange {
    color: var(--state-color-orange);
}

.table-orders .button-order-state.yellow {
    color: var(--state-color-yellow);
}

.table-orders .button-order-state.ok {
    visibility: hidden;
}

.table-orders .td-state .order-state {
    background: hsl(60, 1%, 24%);
    display: none;
    font-size: 85%;
    position: absolute;
    padding: 10px;
    left: 35px;
    text-align: left;
    z-index: 1;
    top: 5px;
}

.table-orders .td-state:hover .order-state {
    display: flex;
}

.table-instructions th {
    text-align: left;
}

.table-instructions .th-action {
    width: 5%;
}

@media(--desktop) {

    .container-orders-form-table {
        display: flex;
    }

    .container-orders-form-table .order-search-container {
        background-color: var(--bg-color-components);
        margin-bottom: 20px;
        padding: 5px 40px 0;
    }

    .container-orders-form-table .order-search-container .input-search-container {
        margin-top: 0;
    }

    .container-orders-form-table .form-orders-product {
        /*flex-basis: 35%;*/
    }

    .container-orders-form-table .table-container-orders {
        /*flex-basis: 65%;
        padding: 10px 10px;*/
        font-size: 80%;
        flex-grow: 1;
        margin: 0 10px;

    }

    .modal-show-order {
        width: 600px;
    }

    .modal-edit-orders {
        width: 90%;
    }

}