.instruction-pd-container {
    display: flex;
}

.instruction-pd-container .quantity-remaining {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 15px 5px;
}

.instruction-pd-container .quantity-remaining-type {
    font-size: 120%;
}

.instruction-pd-container .quantity-remaining-value {
    color: var(--logo-blue-color);
    font-size: 150%;
    margin: 0 5px;
}

.instruction-pd-container .table-no-data {
    align-items: center;
    background-color: var(--bg-color-components);
    display: flex;
    justify-content: center;
    padding: 30px 15px;
}

.instruction-pd-container .form-instruction-pd {
    position: relative;
}

.instruction-pd-container .form-instruction-pd .button-action-relative,
.instruction-prt-container .form-instruction-prt .button-action-relative {
    bottom: 0;
    position: absolute;
    right: 0;
    transform: scale(0.7);
}

.instruction-pd-container .table-container,
.instruction-prt-container .table-container {
    margin: 10px 0;
    position: relative;
}

.instruction-pd-container .table-no-data .icon {
    font-size: 150%;
    margin: 0 5px;
}