.form-advance .input-group-checkbox {
    flex-direction: row;
    margin: 25px 0 0 0;
}

.form-advance .input-group-checkbox .checkbox-order {
    margin: 5px 15px 7px 0;
}

.form-advance .input-group-checkbox .checkbox-order:after {
    font-size: 22px;
}

.form-advance .input-group-checkbox .input-label {
    font-size: 115%;
}

.form-advance .advance-without-message {
    align-items: center;
    background-color: var(--bg-color-components);
    color: var(--text-color-bold);
    display: flex;
    font-size: 150%;
    justify-content: center;
    padding: 25px 0;
    width: 100%;
}

.advance-without-message{
    padding: 5px 0;
    display: flex;
}

.form-advance .advance-without-message .icon {
    color: var(--text-color-light);
    font-size: 150%;
}