.order-products-instructions-container {
    display: flex;
    justify-content: space-around;
}

.order-products-instructions-container .instructions-component {
    margin: 0 10px;
}

.table-instructions-products {
    width: 320px;
}

.table-instructions-products .th-product {
    width: 70%;
}

.table-instructions-products .td-action .button-label {
    background-color: inherit;
    color: var(--logo-blue-color);
    font-weight: 600;
    font-size: 90%;
}

.instruction-container .table-empty {
    font-size: inherit;
    flex-direction: row;
    padding: 30px 15px;
}

.form-instruction .button-remove {
    position: absolute;
    right: 10px;
}

.form-instruction .button-actions {
    
}