.table-cbm .th-product {
    width: 65%;
}

.table-cbm .th-value {
    width: 20%;
}

.table-cbm .th-action {
    width: 15%;
}

.table-cbm .input {
    text-align: center;
    width: 100px;
}

@media(--desktop) {
	.modal-cbm {
		width: 600px;
	}
}