.modal-payments-edit .modal-body {
    padding-bottom: 100px;
}

.advtt-container {
    display: flex;
    box-shadow: 0px 0px 9px 1px var(--border-color);
}

.advtt-detail {
    padding: 10px;
    width: 45%;
}

.advtt-extra {
    padding-right: 5px;
    width: 55%;
}

.advtt-label {
    font-size: 90%;
}

.advtt-remaining-value {
    color: var(--error-color);
}

.advtt-total,
.advtt-remaining {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.advtt-detail-value {
    color: var(--text-color-bold);
    font-size: 150%;
    margin-top: 5px;
}

.list-payments {
    margin: 20px 0 50px 0;
}

.list-payments li {
    box-shadow: 0px 2px 2px 0 var(--border-color);
    display: flex;
    padding: 10px 5px 10px 0;
}

.list-payments li .icon {
    align-items: center;
    font-size: 140%;
    color: var(--text-color-bold);
    padding: 0 15px;
}

.list-payments li .payment-description {
    color: var(--text-color-bold);
}

.list-payments li .payment-date {
    font-size: 75%;
}

.list-payments li .payment-detail {
    flex-grow: 1;
}

.list-payments li .payment-info,
.list-payments li .payment-extra {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.list-payments li .payment-extra {
    margin-top: 5px;
}

.list-payments li .payment-value {
    font-size: 150%;
    color: var(--text-color-light);
}

.list-payments li .button.payment-edit,
.list-payments li .button.payment-delete {
    background-color: inherit;
    color: var(--logo-blue-color);
    padding: 0;
    margin: 10px 0 0 10px;
}