.button-update-price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
}

.modal-product-price .modal-body {
    padding-bottom: 70px;
}

.margin-input { 
    margin:0;
}

.input-price {
    padding: 7.5px;
}

.modal-product-price .button-action {
    bottom: 10px;
}

.list-prices {
    margin-top: 10px;
}

.list-prices li {
	padding: 5px 0;
}

.list-prices li,
.list-prices .price,
.list-prices .price-date-and-delete {
    align-items: center;
    display: flex;
}

.list-prices li {
    justify-content: space-between;
}

.list-prices .price {
	font-size: 90%;
}

.list-prices .price-date {
    cursor: pointer;
    font-size: 90%;
}

.list-prices .price-currency {
    margin-right: 5px;
}

.list-prices .price-city,
.list-prices .price-term {
    margin: 0 10px;
}

.list-prices .button-icon {
	font-size: 170%;
}

.prices-title {
    color: var(--text-color-bold);
    font-size: 150%;
    margin-top: 20px;
}

@media(--desktop) {

    .modal-product-price .modal-edit {
        top: 60px;
        width: 490px;
    }

}