.roles-container {
    margin: 10px 0;
}

.roles-container .input {
    background-color: var(--bg-color-components);
    border: 0;
    display: block;
    margin: auto;
    width: 250px;
}

.list-permissions-container {
    background-color: var(--bg-color-components);
    max-width: 320px;
    margin: auto;
    padding: 10px;
}

.list-permissions-container .list-title {
    color: var(--text-color-bold);
    font-size: 120%;
    font-weight: normal;
    margin: 25px 0 30px;
    text-align: center;
}