.table-container .button-action-relative {
    bottom: 0;
    position: absolute;
    right: 0;
    transform: scale(0.7);
}

.table-container .table-no-data {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 15px;
}