.users-flaps {
    max-width: 320px;
}

.list-users li {
    align-items: center;
    background-color: var(--bg-color-components);
    color: inherit;
    display: flex;
    flex-direction: column;
    max-width: 290px;
    margin: 10px;
    padding-top: 20px;
    width: 290px;
}

.list-users .button:hover,
.list-users .user-edit .button-user-edit:hover {
    color: var(--logo-blue-color);
}

.list-users .user-actions .button-icon {
    font-size: 125%;
    padding: 15px;
}

.list-users .user-avatar-container {
    height: 100px;
    width: 100px;
    position: relative;
}

.list-users .user-avatar-container.blocked:before {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    content: "block";
    color: var(--text-color-bold);
    display: flex;
    font-size: 124px;
    font-family: var(--icon-font);
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;

    animation: block .5s;
}

.list-users .user-avatar-container.blocked .user-avatar {
    filter: blur(2px);
}

.list-users .user-avatar-container:after {
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    top: 15px;
    right: 0;
}

.list-users .user-avatar-container.online:after {
    background-color: green;
}

.list-users .user-avatar-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.list-users .user-avatar.icon {
    color: var(--text-color-bold);
    font-size: 80px;
}

.list-users .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.list-users .user-name {
    color: var(--text-color-bold);
    font-size: 140%;
}

.list-users .user-email {
    font-size: 80%;
    margin: 5px 0;
}

.list-users .user-edit {
    display: flex;
    border-top: 1px solid;
    border-color: var(--border-color);
    margin-top: 10px;
    width: 100%;
}

.list-users .user-edit .button-user-edit {
    align-items: center;
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.list-users .user-edit .button-user-edit:first-child {
    border-right: 1px solid;
    border-color: var(--border-color);
}

.list-users .user-edit .button-user-edit .icon {
    opacity: 0.5;
    font-size: 180%;
    padding: 0 5px;
}

.list-users .user-edit .button-user-edit-label {
    font-size: 90%;
    text-transform: uppercase;
}

.list-users .user-created-at, 
.list-users .user-updated-at {
    font-size: 90%;
}

@media(--tablet) {

    .list-users {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-users li {
        flex-grow: 1;
    }

}

@media(--desktop) {

    .list-users .button-delete-user {
        display: none;
    }

    .list-users li:hover .button-delete-user {
        display: block;
    }

}

@keyframes block {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}