.page-user .user {
}

.page-user .box-user {
    background-color: var(--bg-color-components);
    max-width: 320px;
    margin: 10px auto;
    padding: 20px;
}

.page-user .user-avatar-container {
    position: relative;
}

.page-user .user-avatar,
.page-user .user-avatar-container{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.page-user .user-avatar-container .input-file-avatar {
    color: #FFF;
    background: rgba(0,0,0,0.9);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    bottom: 0;
    height: 50%;
    position: absolute;
    width: 100%;
}


.page-user .user-avatar.icon {
    color: var(--bg-color-components);
    background-color: var(--bg-avatar);
    font-size: 60px;
}

.page-user .user-info {
    flex-direction: column;
}

.page-user .user-flaps {
    max-width: 320px;
}

.page-user .user-name {
    color: var(--text-color-bold);
    font-size: 120%;
    margin-top: 10px;
}

.page-user .user-email {
    font-size: 80%;
    margin-top: 5px;
}

.page-user .user-menu-parent {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color-bold);
    display: flex;
    font-size: 110%;
    padding: 7px 0;
}

.page-user .user-menu-parent .icon {
    padding: 0 3px;
}

.page-user .user-list-submenu {
    margin: 20px 0;
    padding-left: 5px;
}

.page-user .user-list-submenu-item {
    align-items: center;
    display: flex;
    font-size: 95%;
    justify-content: space-between;
    margin: 25px 0;
}

.page-user .detail-content {
    font-size: 90%;
}

.page-user .detail-content > .input {
    border: 0;
}

.page-user .detail-content .button-group {
    margin-top: 10px;
}

.page-user .user-list-submenu .input-checkbox{
    margin-right: 10px;
}

@media(--desktop) {
    
    .page-user .user-avatar-container .input-file-avatar {
        display: none;
    }

    .page-user .user-avatar-container:hover .input-file-avatar {
        display: flex;
    }

}
