.bar-container {
    display: flex;
    background-color: var(--bg-color-components);
    justify-content: space-between;
    margin: 5px 0;    
}

.bar {
    display: flex;
    padding: 15px;
}

.bar .bar-item {
    align-items: center;
    display: flex;
}

.bar .bar-item .bar-item-label {
    color: var(--logo-blue-color);
} 

.bar .bar-item .bar-item-label:after {
    content: ":";
    margin: 0 5px;
}

.bar .bar-item .bar-item-value {
    font-size: 80%;
}

.bar-actions {
    display: flex;
}

.bar-actions .button {
    background-color: inherit;
    color: var(--logo-blue-color);
    font-weight: 600;
    font-size: 100%;
}