.breadcrumb-container {
    display: flex;
    background-color: var(--bg-color-components);
    justify-content: space-between;
    margin: 5px 0;
}

.breadcrumb-actions {
    display: flex;
}

.breadcrumb-actions .button {
    background-color: inherit;
    color: var(--logo-blue-color);
    font-weight: 600;
    font-size: 100%;
}

.breadcrumb {
    display: flex;
    padding: 15px;
}

.breadcrumb li {
    align-items: center;
    display: flex;
}

.breadcrumb li.active {
    color: var(--logo-blue-color);
}

.breadcrumb li:after {
    content: "navigate_next";
    font-family: var(--icon-font);
    margin: 0 5px;
}

.breadcrumb li:last-child:after {
    content: initial;
}