.button {
	border: 0;
    cursor: pointer;
	padding: 10px 20px;
}

.button:disabled {
    cursor: not-allowed;
}

.button-action {
    background-color: var(--logo-blue-color);
    box-shadow: var(--shadow);
    bottom: 24px;
    border-radius: 50%;
    color: #FFF;
    font-size: var(--button-icon-size);
    height: 54px;
    position: fixed;
    right: 24px;
    width: 54px;
}

.button-action:hover {
    background-color: var(--logo-blue-light-color);
}

.button-action-relative {
    position: absolute;
}

.button-primary {
    background-color: var(--logo-blue-color);
    color: #FFF;
    width: 100%;
}

.button-primary:hover {
    background-color: var(--logo-blue-light-color);
}

.button-primary:disabled,
.button-primary:disabled:hover {
    background-color: var(--logo-blue-very-light-color);
}

.button-icon {
    background: transparent;
    color: inherit;
    font-family: var(--icon-font);
    padding: 5px;
}

.button-confirm {
    background-color: #FFF;
    color: var(--logo-blue-color);
}

.button-accept {
    font-weight: bold;
}

.button-group-next,
.button-group-right {
    display: flex;
    justify-content: flex-end;
}

.button-group-navigate {
    display: flex;
    justify-content: space-between;
}

.button-navigate {
    background-color: transparent;
    color: var(--logo-blue-color);
    padding: 0;
    width: auto;
}

.button-navigate:hover,
.button-navigate:disabled,
.button-navigate:disabled:hover {
    background-color: transparent;
    color: var(--logo-blue-light-color);
}

.button-navigate .icon {
    font-size: 50px;
}

.button-navigate-send .icon {
    font-size: 30px;
    padding: 10px;
}

.button-navigate .button-label {
    font-size: 11px;
}

.button-label {
    background-color: transparent;
    color: var(--logo-blue-color);
    font-weight: bold;
}

.button-label:disabled,
.button-label:disabled:hover {
    color: var(--logo-blue-very-light-color);
}

/*@media(--desktop) {
    .button-remove {
        visibility: hidden;
    }
}   */