.checkbox {
    margin: 0 5px;
    visibility: hidden;
}


.checkbox:after {
    content: "check_box_outline_blank";
    color: var(--text-color);
    cursor: pointer;
    display: block;
    font-family: var(--icon-font);
    font-size: 20px;
    visibility: visible;
}

.checkbox:checked:after {
    content: "check_box";
    color: var(--logo-blue-color);
}

.checkbox:checked:disabled:after {
    color: var(--text-color);
}

.input-checkbox {
    cursor: pointer;
    display: block;
    margin: 0;
    position: relative;
    width: 0;
}

.input-checkbox:before {
    background-color: #b9b9b9;
    border-radius: 7px;
    content: "";
    display: block;
    height: 14px;
    right: 0;
    position: absolute;
    width: 30px;

    transition: background-color 0.5s;
}

.input-checkbox:after {
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 18px;
    position: absolute;
    right: 0;
    top: -2px;
    transform: translateX(-90%);
    width: 18px;

    transition: transform 0.5s;
}

.input-checkbox:checked:after {
    background-color: var(--logo-blue-color);
    transform: translateX(0);
}

.input-checkbox:checked:before {
    background-color: var(--logo-blue-light-color);
}