.detail-title {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color-bold);
    display: flex;
    font-size: 110%;
    padding: 7px 0;
}

.detail-title > .icon {
    padding: 0 5px 0 2px;
}

.detail-content {
    padding: 10px;
}

.detail-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.detail-item .icon {
    padding: 2px;
}

.detail-item .detail-label {
    padding: 0 5px;
    font-size: 90%;
    display: flex;
    align-items: center;
}

.detail-item .detail-data {
    align-items: center;
    color: var(--text-color-bold);
    display: flex;
}

.detail-item .detail-data.input {
    border-bottom: 1px solid var(--border-color);
    padding: 0;
    margin-left: 5px;
    text-align: right;
}