.dialog {
    max-width: 500px;
    position: relative;
    top: 0;
    width: 85%;
    animation: top-up 1.1s forwards;
}

.modal.active .dialog {
    animation: top-down 1.1s forwards;
}

.dialog-body {
    padding: 20px;
}

.dialog-header {
    color: var(--logo-dark-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}

.dialog-title {
    font-size: 110%;
}

.dialog .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.dialog .button-group .button {
    margin: 0 5px;
    width: auto;
    font-size: 14px;
}

@keyframes top-down {
    from {
        top: 0;
    }
    to {
        top: 160px;
    }
}

@keyframes top-up {
    from {
        top: 160px;
    }
    to {
        top: 0;
    }
}