.flaps-container {
    background: var(--bg-color-components);
}

.flaps {
    align-items: flex-end;
    display: flex;
    height: 45px;
    justify-content: space-around;
    margin: auto;
    font-size: 75%;
}

.flaps-item {
    cursor: pointer;
    border-bottom: 2px solid var(--bg-color-components);
    padding: 0 15px 7px;
}

.flaps-item.active {
    border-bottom-color: var(--logo-blue-color);
    color: var(--text-color-bold);
}

.flaps-item:hover {
    border-bottom-color: var(--logo-blue-color);
}

.flaps-item-link {
    display: flex;
    align-items: center;
}

.flaps-item-icon .flaps-item-link .icon {
    font-size: 125%;
    margin-right: 10px;
}

@media(--desktop) {
    .flaps {
        font-size: 100%;
    }
}