.float-box {
    background-color: var(--bg-color-components);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 320px;
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}

.float-content {
    padding: 10px;
}

.float-title {
    background-color: var(--bg-float-title);
    padding: 10px;
}

.float-box .message-data-empty .icon {
    font-size: 120%;
    margin-left: 0;
}

.float-box .message-data-empty .text {
    font-size: 100%;
}