.form.ng-invalid.ng-submitted .input.ng-invalid {
    border-bottom: 1px solid var(--error-color);
}

.form.ng-invalid.ng-submitted .input.ng-invalid ~ .input-label {
    color: var(--error-color);
}

.form-box {
    width: 320px;
    font-size: 80%;
    background-color: var(--bg-color-components);
    padding: 20px;
}

.input {
    background: inherit;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid var(--border-color);
    font-family: inherit;
    font-size: inherit;
    padding: 10px 1px 3px 5px;
    width: 100%;
    transition: all 0.6s;
}

.input:focus {
    border-color: var(--logo-blue-color);
}

.input:disabled {
    appearance: none;
    cursor: not-allowed;
}

.input[type="text"]:read-only {
    color: var(--text-color);
    cursor: not-allowed;
}

.input[type="number"]:read-only, 
.input[type="number"]:disabled { 
    border-style: dotted;
    color: var(--text-color);
}

.input:focus ~ .input-label {
    color: var(--logo-blue-color);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px white inset;
}

.input-container-inline .input-select-container {
    width: 35%;
} 

.input-group-item {
    position: relative;
    margin-bottom: 20px;
}

.input-group-item .button-remove, 
.input-group-item .button-add {
    font-size: 170%;
    padding: 0;
    /*position: absolute;*/
}

.input-group-item .button-add {
    color: var(--logo-blue-color);
/*    padding-top: 15px;
*/  right: 0;
    position: absolute;
    right: -15px;
    top: 4px;
}


.input-group-item .button-remove {
    bottom: 3px;
    right: 8px;
}

.second-input {
    width: 50%;
}

.input-errors {
    color: var(--error-color);
    margin: 20px 0;
}

.input-success {
    color: var(--logo-blue-color);
    margin: 20px 0;
}

.input-file {
    cursor: pointer;
}

.input-file .input {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column-reverse;
    margin: 25px 0px;
    position: relative;
}

.input-group-inline {
    display: flex;
}

.input-group-inline > .input:first-child,
.input-container-inline > .input:first-child {
    margin-right: 20px;
}

.input-margin {
    margin-right: 20px;
}

.input-flex-basis {
    flex-basis: 100%;
}

.input-container-inline {
    display: flex;
    position: relative;
}

.input-label {
    align-items: center;
    display: flex;
    transition: color 0.6s;
}

.input-label .icon {
    padding: 1px 2px;
}

.input-label-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-label-radio > .icon {
    font-size: 120%;
    margin: 0 25px 0 10px;
}

.input-search-container {
    background-color: var(--bg-color-components);
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.input-search-container:after {
    align-items: center;
    content: "search";  
    font-family: var(--icon-font);
    display: flex;
    height: 100%;
    position: absolute;
    font-size: 24px;
    right: 0;
    padding: 0 10px;
}

.input-search-container .input-search {
    border: 0;
    padding: 10px;
}

.input-search-container .input-search:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.input-select {
    appearance: none;
    padding-left: 4px;
}

.input-select-container {
    position: relative;
}

.input-select-container:after {
    align-items: center;
    content: "arrow_drop_down";
    display: flex;
    font-family: var(--icon-font);
    font-size: 150%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.input-group .button-group-actions {
    align-items: center;
    bottom: 5px;
    display: flex;
    position: absolute;
    right: 0;
}

.input-group-inside .button-group-actions {
    right: -20px;
}

.input-group .button-group-actions .button {
    position: initial;
}

.input-group-inside {
    padding: 0 30px 0 20px;
}

.search-container {
    display: flex;
    justify-content: center;
}

@media(--mobile) {
    
    .form-box {
        width: 400px;
        padding: 20px 40px;
    }
    
}

@media(--tablet) {

    .search-container .input-search-container {
        width: 75%;
    }

}


@media(--desktop) {

    .input-container-inline:hover .button {
        visibility: visible;
    }

    .input-container:hover .button{ 
        visibility: visible;
    }

    .search-container .input-search-container {
        width: 50%;
    }

}