.header-app {
    background-color: var(--logo-dark-color);
    color: var(--bg-color-components);
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: var(--header-size);
    width: 100%;
    z-index: 20;
}

.header-app .button-nav {
    background-color: inherit;
    color: inherit;
    font-size: 32px;
    width: auto;
}

.header-logo {
    background-color: var(--logo-dark-color);
    box-sizing: border-box;
    padding: 0 20px;
}

.header-logo-img {
    height: var(--logo-size);
    width: auto;
}

.header-logo-img-blue {
    display: none;
}

.header-info {
    display: none;
    margin-right: 10px;
}

.header-notification {
    padding: 0 5px;
    font-size: var(--notification-size);
}

.header-notification > .icon {
    cursor: pointer;
}

.header-avatar,
.header-notification {
    margin: 0 5px;
}

.header-avatar .icon {
    background-color: var(--header-color);
    color: var(--bg-color-components);
    font-size: var(--avatar-size);
    padding: 8px;
}

.header-avatar .avatar {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
}

@media(--desktop) {

    .header-app {
        background-color: var(--bg-color-components);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        color: var(--header-color);
    }

    .header-app .button-nav {
        display: none;
    }
    
    .header-info {
        display: flex;
    }

    .header-logo {
        background-color: var(--logo-blue-color);
        width: var(--menu-width-desktop);
    }
    
    .header-logo-img-blue {
        display: block;
    }
    
    .header-logo-img-dark {
        display: none;
    }

}