.list-details {

}

.list-details-item {
}

.list-details-item .title {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color-bold);
    display: flex;
    font-size: 110%;
    padding: 7px 0;
}

.list-details-item .title .icon {
    margin: 0 3px;
}

.list-details .sublist {
    margin: 20px 0;
    padding-left: 5px;
}

.list-details .sublist .sublist-item {
    font-size: 95%;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}