.spinner {
    left: 0;
    top: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 20;
}

.spinner .bounce {
    width: 8px;
    height: 8px;
    background-color: var(--bg-color-components);

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    animation-delay: -0.48s;
}

.spinner .bounce2 {
    animation-delay: -0.32s;
}

.spinner .bounce3 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    } 40% {
        transform: scale(1.0);
    }
}

@media(--desktop) {
    .spinner .bounce {
        background-color: var(--logo-blue-color);
    }
}