.button-logout {
    background-color: inherit;
}

.menu {
    background-color: var(--bg-menu-dark);
    color: var(--menu-color);
    z-index: 10;
}

.menu-item {
    align-items: center;
    border-left: 3px solid var(--bg-menu-dark);
    color: inherit;
    display: flex;
    font-size: inherit;
    padding: 12px;
}

.menu-item.active {
    border-left: 2px solid var(--logo-blue-color);
    color: var(--menu-color-active);
}

.menu-item .icon {
    font-size: var(--menu-item-icon-mobile);
}

.menu-item .menu-item-label {
    margin-left: 10px;
}

@media(--desktop) {

    .menu-item {
        flex-direction: column;
    }

    .menu-item .icon {
        font-size: var(--menu-item-icon-desktop);
    }

    .menu-item .menu-item-label {
        margin: 0;
        font-size: 12px;
        padding: 5px 0;
    }

}

@media(--height-desktop) {
    
    .menu-item {
        padding: 10px;
    }

    .menu-item .icon {
        font-size: 24px;
    }
}