.message-data-empty {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.message-data-empty .icon {
    margin: 0 10px;
    font-size: 170%;
}

.message-data-empty .text{
    font-size: 140%;
}