.modal {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    visibility: hidden;
    left: 0;
    padding: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: all .5s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: var(--bg-color-components);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    position: fixed;
    right: 0;
}

.modal-rigth .modal-content {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.modal-rigth.active .modal-content {
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.modal-box {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-height: calc(100% - 120px);
    top: 60px;
}

.modal-box .modal-header {
    align-items: center;
    background-color: var(--bg-menu-dark);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 120%;
}

.modal-box .modal-header .button-icon {
    padding-right: 0;
    font-size: inherit;
}

.modal-box .modal-body {
    font-size: 80%;
    overflow-y: auto;
}

.modal-box .modal-body.modal-body-narrow {
    padding-right: 50px;
}

.modal-show .modal-body {
    padding: 20px;
    font-size: 90%;    
}

.modal-edit .modal-body {
    padding: 0 20px 20px 20px;
}

/*.modal-scroll {
    overflow-y: scroll;
    height: 80vh;
}*/

.modal-container-flex {
    display: flex;
    flex-direction: column;
}

@media(--tablet) {
    .modal-edit .modal-body {
        padding: 0 20px 20px 20px;
    }
}

@media(--desktop) {
    
    .modal-box {
        width: 400px;
    }
    
    .modal-box .modal-header .button-icon {
        font-size: initial;
    }

    .modal-rigth .modal-content {
        transition: all 1s;
        transform: scale(1);
    }

    .modal-rigth .modal-content {
        right: -50%;
    }

/*    .modal-scroll {
        height: 360px;
    }*/

    .modal-container-flex {
        display: flex;
        flex-direction: row;
    }

}