.money-container {
    background-color: var(--bg-color-components);
    color: var(--text-color-bold);
    display: inline-flex;
    padding: 10px;
}

.money-currency {
    font-size: 160%;
    margin-right: 5px;
}

.money-label {
    color: var(--text-color);
    font-size: 55%;
}

@media(--desktop) {
    
    .money-container {
        padding: 10px 15px;
    }
    
}