.list-nav {
    padding: 10px 0;
}

.nav {
    background-color: inherit;
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: var(--header-size);
    position: absolute;
    height: 100%;
    transform: translateX(-var(--menu-width-mobile));
    width: var(--menu-width-mobile);

    transition: transform 1s;
}

.nav.active {
    transform: translateX(0);
}

@media(--desktop) {
    
    .nav {
        overflow-y: initial;
        position: static;
        transform: initial;
        width: var(--menu-width-desktop);
    }

}