.notifications {
    background-color: var(--notifications-bg);
    border: 1px solid var(--notifications-border);
    position: absolute;
    right: 10px;
    top: var(--header-size);
    width: var(--notifications-component-width);
}

.notifications-header {
    align-items: center;  
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.notifications-header .button {
    font-size: 100%;
}

.notifications-title {
    color: var(--text-color-bold);
    font-size: 80%;
    font-weight: normal;
}

.notifications-none,
.notifications-list {
    background-color: var(--bg-color-components);
}

.notifications-none {
    font-size: 75%;
}

.notifications-none .text {
    font-size: 100%;
}

.notifications-list {
    padding: 10px;
}

.notifications-item {
    background-color: var(--bg-color-components);
    padding: 15px 10px;
}