.page-container {
    position: relative;
    opacity: 1;
    width: 100%;

    transition: opacity 1s;
}

.page-container.route-change-start {
    opacity: 0;
}

.page {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
    padding-top: var(--header-size);
    position: absolute;
}