.pagination {
    display: flex;
    margin: 10px 0;
}

.pagination li {
    padding: 10px;
}

.pagination .active {
    color: var(--logo-blue-color);
}

@media(--desktop) {
    
    .pagination {
        font-size: 85%;
    }

}