.popup {
    background-color: var(--logo-dark-color);
    font-size: 75%;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    transform: translateY(0);
    width: 300px;
    z-index: 1;

    transition: transform .7s;
}

.popup.active {
    transform: translateY(-60px);
}

@media(--tablet) {
    .popup {
        right: 10px;    
    }
}