.search {
    position: relative;
}

.search .input-search {
    border: inherit;
}

.search .input::placeholder {
    color: var(--text-color);
}

.search .input-search-container {
    margin-bottom: 0;
}

.search .input-search-container .icon {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 24px;
    right: 45px;
    height: 100%;
    position: absolute;
}

.search .search-list {
    background-color: var(--bg-color-components);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    color: initial;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.search .search-list li {
    border-top: 1px solid var(--border-color);
    padding: 10px;
}

.search .search-list li:hover {
    background-color: var(--hover-color);
}

.search .search-list .others {
    font-weight: bold;
}

.search .input-others-container {
    background-color: var(--bg-color-components);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: none;
    padding: 5px 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.search .input-others-container .input {
    border-bottom: 0;
}

.search .input-others-container .button-icon {
    bottom: 0;
    position: absolute;
    top: 0;
    font-size: 150%;
}

.search .input-others-container .button-icon-send {
    right: 0;
}

.search .input-others-container .button-icon-cancel {
    right: 24px;
}

.search .input-others-container.active {
    display: block;
    animation: grow .5s forwards;
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}