.table {
    border-collapse: collapse;
    width: 100%;
}

.table-container {
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
    padding-bottom: 50px;
    position: relative;
}

.table-empty {
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 130%;
    justify-content: center;
    text-align: center;
}

.table-empty .icon {
    font-size: 200%;
}

.table-data {
    text-align: center;
}

.table-data thead {
    background-color: var(--bg-table-thead);
}

.table-data tbody {
    background-color: var(--bg-table-tbody);
}

.table-data tbody tr:hover {
     background-color:#f5f5f5;
}

.table-data tr.primary {
    color: var(--logo-blue-color);
}

.table-data th {
    font-weight: normal;
    padding: 10px 0;
}

.table-data th.sortable {
    cursor: pointer;
}

.table-data td {
    font-size: 80%;
    padding: 15px 0;
}

.table-data .td-action {
    padding: 0;
    position: relative;
    width: 45px;
}

.table-data .td-action .button-icon {
    padding: 15px;
}

.table-data .th-action .ng-table-header {
    display: none;
}

.table-show tbody tr:hover {
    cursor: pointer;
}

.table-separated tr.separated {
    border-top: 2px solid var(--bg-color);
}

@media(--desktop) {

    .table-container {
        overflow-x: auto;
    }
    
    .table-data .th-action .ng-table-header {
        display: initial;
    }

    .table-data .td-action .button-icon {
        padding: 15px 20px;
    }

}