.toolbar {
    position: relative;
    margin: 10px 0;
}

.toolbar .search-container {
    width: 100%;
}

.toolbar .button-icon {
    background-color: var(--bg-color-components);
    margin: 0 5px;
    padding: 10px;
}

.toolbar .button-icon:hover {
    color: var(--logo-blue-color);
}

.toolbar-actions {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media(--desktop) {

    .toolbar .button-icon  {
        font-size: 125%;
        margin: 0 10px;
        padding: 10px 15px;
    }

    .toolbar-actions {
        position: absolute;
        right: 0;
        top: 5px;
    }
}