:root {
	--bg-color: hsl(260, 10%, 94%);
	--bg-color-components: hsl(0, 0%, 100%);
    --bg-avatar: hsla(214, 4%, 90%, 1);
    --border-color: rgba(0, 0, 0, 0.125);
    --header-color: rgb(171, 174, 178);
    --logo-blue-color: hsl(198, 81%, 48%);
    --logo-blue-light-color: hsl(198, 81%, 60%);
    --logo-dark-color: hsl(60, 1%, 24%);
    --logo-dark-light-color: hsl(60, 1%, 60%);
    --logo-blue-very-light-color: hsl(198, 81%, 70%);
    --logo-dark-color: hsl(60, 1%, 24%);
    --bg-menu-dark: hsl(60, 1%, 20%);
	--menu-color: rgb(171, 174, 178);
	--menu-color-active: hsl(0, 0%, 100%);
    --bg-float-title: hsl(60, 1%, 20%);
    --bg-table-thead: hsl(60, 1%, 20%);
    --bg-table-tbody: hsl(0, 0%, 100%);
    --laravel-color: #636b6f;
	--text-color: hsl(214, 4%, 68%);
	--text-color-bold: hsl(214, 24%, 23%);
    --text-color-light: #127DAB;
    --error-color: hsl(350, 76%, 54%);
    --hover-color: hsl(0, 0%, 98%);
    --border-color: hsla(214, 4%, 68%, 0.3);
    --notifications-bg: #EEE;
    --notifications-border: #CCC;
    --state-color-orange: hsl(32, 81%, 48%);
    --state-color-yellow: hsl(57, 99%, 34%);
};