:root {
    --avatar-size: 24px;
    --button-icon-size: 18px;
    --header-size: 60px;
    --logo-size: 40px;
    --notification-size: 22px;
    --notifications-component-width: 300px;
    --menu-item-icon-mobile: 32px;
    --menu-item-icon-desktop: 28px;
    --menu-width-mobile: 100%;
    --menu-width-desktop: 100px;
    --nav-size: 240px;
};