@import '../config/*.css';
@import '../components/icon.css';

.template {
    font-family: roboto, sans-serif;
}

.template textarea {
    width: 50%; 
    height: 125px;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.buyer-label {
	margin: 10px 0;
}

.button {
    border: 0;
    cursor: pointer;
    padding: 10px 20px;
}

.button-action {
    background-color: var(--logo-blue-color);
    box-shadow: var(--shadow);
    bottom: 24px;
    border-radius: 50%;
    color: #FFF;
    font-size: var(--button-icon-size);
    height: 54px;
    position: fixed;
    right: 24px;
    width: 54px;
}

.template-email .description {
    display: none;
    padding: 10px 0;
}

.template-email.mode-copy .description {
    display: block;
}

.template-email.mode-copy .textarea,
.template-email.mode-copy .button-action {
    display: none;
}

@media print {
    .hide {
        display: none !important;
    }

    .template textarea {
        border: none;
    }
}