@page {
    padding: 0;
    margin: 0;
}

/* BASE */

:root {
    --color-grey: rgba(128, 128, 128, .64);
}

.template {
    font-family: roboto , sans-serif;
}

/*------------*/

.template-order .header {
    display: flex;
    font-size: 5mm;
}

.template-order .header .company-logo {
    width: 80px;
    height: 80px;
}

.template-order .header .company-name {
    display: flex;
    padding: 5px 15px;
}

.template-order .header .company-name-full {
    font-weight: 600;
}

.template-order .header .company-name-sub {
    display: flex; 
    align-items: center; 
    font-size: 95%;
    color: var(--color-grey);
}

.template-order .lay-column {
    flex-grow: 1;
}

.template-order .buyer {
    font-size: 5mm;
    margin: 5mm 0;
}

.template-order .sub-buyer {
    display:flex;
}

.template-order .table-order {
    border-collapse: collapse;
    width: 100%;
}

.template-order .table-order th,
.template-order .table-order td {
    border: 1px solid var(--color-grey);
    padding: 2mm;
    text-align: center;
}

.template-order .table-order td {
    font-size: 80%;
}

.template-order .tr-container td {
    border: none;
    font-weight: bold;
}

.template-order .tr-container .td-total {
    text-align: right;
}

.template-order .order-data .data-container {
    border: 1px solid var(--color-grey);
    display: flex;
    margin: 5mm 0;
    text-align: center;
}

.template-order .order-data .purchase-container {
    flex-direction: column;
    margin-top: 0;
}

.template-order .order-data .purchase-label {
    background: rgba(128, 128, 128, .3);
    border-bottom: 1px solid var(--color-grey);
    font-weight: bold;
    padding: 7px;
}

.template-order .order-data .data-label,
.template-order .order-data .data-value {
    width: 50%;
}

.template-order .order-data .data-label {
    border-right: 1px solid var(--color-grey);
    font-weight: 600;
}

.template-order .table-container {
    overflow-x: scroll;
}

.template-order .order-detail {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 10mm 0;
}

.template-order .order-detail .data-container {
    display: flex;
    justify-content: space-between;
    margin: 2mm 0;
}

.template-order .order-detail .data-container-multiple {
    flex-wrap: wrap;
}

.template-order .order-detail .data-container-multiple .data-value-multiple {
    font-size: 90%;
    margin-left: 3mm;
    width: 100%;
}

.template-order .order-detail .data-container-multiple .order-value-item {
    display: flex;
    justify-content: space-between;
}

.template-order .order-detail .data-container-multiple .dotted {
    border-bottom: 1px dotted var(--color-grey);
    flex-grow: 1;
    margin: 0 5px;
}

.template-order .order-detail .data-label {
    font-weight: 600;
}

.template-order .order-signature .img {
    border-bottom: 1px dotted var(--color-grey);
    display: block;
    margin: auto;
    width: 70mm;
}

.template-order .order-detail-column {
    flex-grow: 1;
    margin-left: 5mm;
}

/* CAMBIAR ESTO POR VARIABLE*/
@media print, (min-width: 1024px){
    
    .template {
        margin: 2mm auto;
        max-width: 297mm;
    }

    .template-order .header {
        font-size: 7mm;
    }

    .template-order .buyer {
        display: flex;
        font-size: 6mm;
        justify-content: space-between;
        padding: 0 5mm;
    }

    .template-order .table-container {
        overflow-x: initial;
    }

    .template-order .order-data {
        width: 7cm;
    }

    .template-order .lay-row {
        display: flex;
        justify-content: space-between;
    }

}