.template {
    font-family: 'Roboto', sans-serif;
}

.template-pd .header .company-logo {
    width: 80px;
    height: 80px;
}

.template-pd .header  {
    display:flex;
    justify-content: center;
    margin-bottom: 5mm;
}

.template-pd .header .company-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3mm;
}

.template-pd .header .company-name-full {
    font-weight: 600;
    font-size: 25px;
    color: rgba(128, 128, 128, .64);
}

.template-pd .section-data {
	display:flex;
}

.template-pd .colum-data {
	border: 1px solid rgba(128, 128, 128, .64);
	display:flex;
	padding: 7px;
}

.template-pd .colum-data-width {
	display: flex;
    justify-content: space-between;
}

.template-pd .title-instruction {
	background: rgba(128, 128, 128, .3);
    border-bottom: 1px solid rgba(128, 128, 128, .64);
    font-weight: bold;
    padding: 7px;
    justify-content: center;
}

.template-pd .without-margin-top {
    border-top: none;
  
}

.template-pd .without-margin-right {
    border-right: none;
}

.template-pd .colors {
    margin-top: 30px;
}

.template-pd .width-container { 
    width: 50%;
}

.template-pd .table-colors {
    border-collapse: collapse;
    width: 100%;
}

.template-pd .table-colors th,
.template-pd .table-colors td {
    border: 1px solid rgba(128, 128, 128, .64);
    padding: 2mm;
    text-align: center;
}

.template-pd .signature {
    font-style: italic;
    font-size: 90%;
    margin: 5mm;
    text-align: right;
}

.template-pd .signature .img {
    width: 70mm;
}

@media print, (min-width: 1024px){
    
    .template {
        margin: 2mm auto;
        max-width: 297mm;
    }
}