.template {
    font-family: 'Roboto', sans-serif;
}

.template-prt .header .company-logo {
    width: 80px;
    height: 80px;
}

.template-prt .header  {
    display:flex;
    justify-content: center;
    margin-bottom: 5mm;
}

.template-prt .header .company-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3mm;
}

.template-prt .header .company-name-full {
    font-weight: 600;
    font-size: 25px;
    color: rgba(128, 128, 128, .64);
}

.template-prt .section-data {
	display:flex;
}

.template-prt .colum-data {
	border: 1px solid rgba(128, 128, 128, .64);
	display:flex;
	padding: 7px;
}

.width-container { 
    width: 50%;
}

.template-prt .colum-data-width {
	display: flex;
    justify-content: space-between;
}

.template-prt .title-instruction {
	background: rgba(128, 128, 128, .3);
    border-bottom: 1px solid rgba(128, 128, 128, .64);
    font-weight: bold;
    padding: 7px;
    justify-content: center;
}

.template-prt .without-margin-top {
    border-top: none;
  
}

.template-prt .without-margin-right {
    border-right: none;
}

.template-prt .colors {
    margin-top: 30px;
}

.template-prt .table-colors {
    border-collapse: collapse;
    width: 100%;
}

.template-prt .table-colors caption {
    font-weight: bold;
    text-align: left;
    margin: 2mm;
}

.template-prt .table-colors th,
.template-prt .table-colors td {
    border: 1px solid rgba(128, 128, 128, .64);
    padding: 2mm;
    text-align: center;
}

.template-prt .signature {
    font-style: italic;
    font-size: 90%;
    margin: 5mm;
    text-align: right;
}

.template-prt .signature .img {
    width: 70mm;
}

@media print, (min-width: 1024px){
    
    .template {
        margin: 2mm auto;
        max-width: 297mm;
    }

}