@import './report.css';

.template-report-weekly .dates {
    font-size: 8mm;
}

.template-report-weekly .date {
    text-align: right;
}

.template-report-weekly .date .slash {
    color: var(--logo-blue-color);
}

.template-report-weekly .date-label {
    color: var(--text-color);
    font-size: 3mm;
}

.template-report-weekly .date-value {
    font-size: 6mm;
}