@import './../config/colors.css';

body,
html {
    height: 100%;
} 

body {
    border-left: 2mm solid var(--logo-dark-color);
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
}

@page {
    border-left: 2mm solid var(--logo-dark-color);
    padding: 0;
    margin: 0;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 95%;
}

thead {
    background-color: var(--bg-table-thead);
    color: #FFF;
}

th, td {
    padding: 2.5mm;
}

td {
    border-bottom: .5mm solid var(--border-color);
    font-size: 3.5mm;
}

main {
    margin-top: 20mm;
}

.template-report {
    color: var(--text-color-bold);
    padding: 5mm 10mm;
}

.template-report .header-title {
    display: flex;
    align-items: center;
}

.template-report .logo {
    margin-right: 5mm;
    width: 25mm;
}

.template-report h1 {
    font-size: 8mm;
}

.template-report h2 {
    font-size: 6mm;
    color: var(--text-color);
}

.template-report .total-box {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 1mm;
    width: 95%;
}

.template-report .total-box .icon {
    font-size: 10mm;
    font-style: normal;
}

.template-report .total-box .label {
    color: var(--text-color);
    font-size: 3mm;
    margin-bottom: -1.5mm;
}

.template-report .total-box .value {
    font-size: 7mm;
}
