@import './report.css';

.template-report-monthly .date {
    font-size: 6mm;
}

.template-report-monthly .date-value-month {
    font-size: 150%;
}

.template-report-monthly .date-value-year {
    color: var(--text-color);
}