*, 
*:before, 
*:after {
    box-sizing: border-box;
}

a,
button,
input:focus {
    outline: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

body, 
menu ,
ul {
	margin: 0;
	padding: 0;
}

html {
    height: 100vh;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--size-font);
    height: 100%;
}

ul {
    list-style: none;
}

select:focus {
    outline: none;
}

input[type="search"] {
    appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

h1, h2 {
    margin: 0;
}